@import "{{ site.theme }}";

header {
    background: url('/assets/banner.png') no-repeat center center fixed;
    background-size: cover;
}

header a.button {
    background: green;
}

aside a.button {
    background: darkgreen;
}

#main-content h2:before, 
#main-content h1:before,
#main-content h3,
#main-content h4,
#main-content h6 {
    color: lightgreen;
}
