---
---

@import "{{ site.theme }}";

header {
    background: url('{{ 'assets/banner.png' | relative_url }}') no-repeat center center fixed;
    background-size: cover;
}

header a.button {
    background: navy;
}

aside a.button {
    background: darkblue;
}

#main-content h2:before,
#main-content h1:before,
#main-content h3,
#main-content h4,
#main-content h6 {
    color: yellow;
}
